@font-face {
    font-family: "font-1";
    src: url(../font/font-a.woff2) format("woff");
}

@font-face {
    font-family: "font-2";
    src: url(../font/font-aa.woff2) format("woff");
}

:root {
    --backdrop-color: #0d141e;
    --nav-color: #232f3e;
    --lightgrey: #d5d9d9;
    --grey: #f3f3f3;
    --white: #fff;
    --lightgrey-backdrop:#f6f6f6;
    --error-color: #cc0c39;
    --error-color-yellow:#ffaf38;
    --text-color: #0f1111;
    --btn-color: #ffd814;
    --link-color: #007185;
    
}

/* RESET */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

html,
body {
    font-size: 16px;
    background-color: var(--backdrop-color);
}

img {
    width: 100%;
    height: auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
}
nav{
    background-color: var(--nav-color);
}
/* hide the two login form from webpage */
.firstlogin__login,
.secondform__login{
    display: none;
}

.amz__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 400px; 
}

/* main error container to hide */
.error__container,
.second__passworderror-container,
.incorrectpassword__error-container{
    display: none;
    background-color: var(--error-color);
    padding: 0.2rem 0.1rem 0.2rem 0.5rem;
    border-radius: 5px;
    overflow: hidden;
}
.error__message-container,
.email__message-container,
.error-emptypassword,
.error-incorrectpassword{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    background-color: var(--white);
    border-radius: 0 5px 5px 0;
    padding: 0.7rem;   
}
.error__message-container h3{
    font-family: font-1;
    font-size: 0.9rem;
}
.error-emptypassword h3{
    font-family: font-1;
    font-size: 0.9rem;
}
.error-incorrectpassword h3{
    font-family: font-1;
    font-size: 0.9rem;
}
.error__message-container,
.email__message-container,
.error-emptypassword,
.error-incorrectpassword p{
    font-family: font-2;
    font-size: 0.9rem;
}
/* main error container to hide */
.email__numbererror-container{
    display: none;
    background-color: var(--error-color-yellow);
    padding: 0.2rem 0.1rem 0.2rem 0.5rem;
    border-radius: 5px;
    overflow: hidden;
}
.email__message-container h3{
    font-family: font-1;
    font-size: 1rem;
}

.show__errormssg{
    display: block;
}
/* show the login form on the webpage */
.active__page{
    display: block;
}
.error__border-color{
    border: 2px solid var(--error-color) !important;
    transition: none;
}
.nav__logo {
    width: 100px;
    min-width: 70px;
    padding: 0.5rem 0 0 0.8rem;
}
.container {
    background-color: var(--lightgrey-backdrop);
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
}
.amz__input-wrapper{
    background-color: var(--white);
    margin: 0 auto;
    max-width: 400px;
    border: 1px solid var(--lightgrey);
    border-radius: 10px;
}

.sky__border,
.grey__border {
    width: 28px;
}

.amz__heading {
    font-family: font-1;
    font-size: 1.3rem;
    margin: 0 auto;
    max-width: 400px;
    padding: 1rem 0 0.5rem 0;
}

.amz__create {
    display: flex;
    padding: 0.4rem 1rem;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
}

.create-acct {
    padding-bottom: 1rem;
    background-color: var(--grey);
    border-bottom: 1px solid var(--lightgrey);
    cursor: pointer;
}

.create-acct>p {
    font-family: font-1;
    font-size: 0.9rem;
    color: var(--text-color);

}

.create-acct >p span {
    font-family: font-2;
    font-size: 0.8rem;
}

.sign-acct >p {
    font-family: font-1;
    font-size: 0.9rem;
    color: var(--text-color);


}

.amz__input {
    padding: 0rem 1rem;
    margin-top: 0.5rem;
}

.amz__input >label {
    font-family: font-1;
}

.amz__input >input {
    width: 100%;
    height: 2.5rem;
    border: 1px solid var(--lightgrey);
    border-radius: 5px;
    padding: 0 1.1rem;
    font-family: font-1;
    font-size: 1rem;
    background-color: transparent;
    line-height: 1;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    float: none;
    -webkit-tap-highlight-color: transparent;
}

.amz__input >input:focus {
    outline-color: var(--link-color);
    outline-width: 0.3rem;
    outline-style: solid;
    outline-offset: 0.2rem;
    box-shadow: none;
    border-radius: 10px;
    transition: none;
}

.next-btn {
    width: 100%;
    background-color: var(--btn-color);
    padding: 0.7rem 0.5rem;
    border-radius: 50px;
    font-family: font-2;
    font-size: 1rem;
    cursor: pointer;
}

.next-btn:focus,.login__btn:focus {
    outline-color: var(--link-color);
    outline-width: 0.3rem;
    outline-style: solid;
    outline-offset: 0.2rem;
    box-shadow: none;
    border-radius: 10px;
    transition: none;
}
.amz__links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem;
}
.amz__links > p{
    font-family: font-2;
    font-size: 1rem;
    color: var(--text-color);
}
.amz__links > p a{
    text-decoration: underline;
    color: var(--link-color);
}
.amz__icon-link{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-bottom: 1px solid var(--lightgrey);
    padding-bottom: 1rem;
    
}
.amz__icon-link i{
    font-size: 1rem;
}
.amz__icon-link a{
    font-family: font-2;
    font-size: 1rem;
    color: var(--link-color);
}
.amz__work-shop{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0rem 1rem 1rem 1rem;
}
.amz__work-shop > p {
    font-family: font-1;
    font-size: 1rem;
    color: var(--text-color);

}
.amz__work-shop > a{
    font-family: font-2;
    font-size: 1rem;
    color: var(--link-color);
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0rem;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}

.language__state{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-shrink: 0;
}
.language{
    display: flex;
    gap: .001rem;
    justify-content: center;
    align-items: center;
}
.state{
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    align-items: center; 
}
.icon__global{
    width: 35px;
}
.icon__us{
    width: 20px;
}
.mark-x{
    width: 35px;
}
.lang__text{
    font-family: font-2;
    font-size: 0.7rem;
    font-weight: 100;
    color: var(--white);
}
.footer__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer__side-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
}
.footer__links a{
    font-family: font-2;
    font-size: 0.6rem;
    color: var(--white);
    margin-right: 0.8rem;
}
.footer__links a:last-of-type {
    margin-right: 0;
}
.copyright small{
    font-family: font-2;
    font-size: 0.6rem;
    color: var(--white);

}
/* second login page */
.secondform__heading{
    /* display: flex; */
    font-family: font-1;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 0;
}
.amz__userdetail{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.amz__usermail{
    font-family: font-2;
    font-size: 0.9rem;
    color: var(--text-color);
}
.changepage__btn{
    font-family: font-2;
    font-size: 0.9rem;
    color: var(--link-color);
    background-color: transparent;
    cursor: pointer;
}
.amz__input-password{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 0.7rem;
}
.amz__input-password > label{
    font-family: font-1;
    font-size: 0.8rem;
    color: var(--text-color);
}
.amz__input-password > input{
    width: 100%;
    height: 2.5rem;
    border: 1.5px solid var(--lightgrey);
    border-radius: 5px;
    font-family: font-1;
    font-size: 1rem;
    padding: 0 1.1rem;
    margin-bottom: 2rem;
    background-color: var(--white);
    line-height: 1;
    float: none;
    -webkit-tap-highlight-color: transparent;
}
.amz__input-password > input:focus{
    outline-color: var(--link-color);
    outline-width: 0.2rem;
    outline-style: solid;
    outline-offset: 0.1rem;
    box-shadow: none;
    border-radius: 5px;
    transition: none;
}
.amz__show-forgot-password{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.amz__showpass{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: font-2;
    font-size: 1rem;
    color: var(--text-color);
}
.amz__show-forgot-password > a{
    font-family: font-2;
    font-size: 1rem;
    color: var(--link-color);

}
.login__btn{
    width: 100%;
    background-color: var(--btn-color);
    padding: 0.7rem 0.5rem;
    border-radius: 50px;
    font-family: font-2;
    font-size: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}
input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    width: 21px;
    height: 21px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    display: inline;
    position: relative;
}
input[type="checkbox"]:checked{
    background-color: var(--link-color);
    border-color: var(--link-color);
    
}
input[type="checkbox"]:checked::after{
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900; 
    color: var(--white);
    position: absolute;
    font-size: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* media queries..... */
@media(max-width:320px){
.footer__links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    margin-top: 1rem;
}
.footer__links a:nth-of-type(4),
.footer__links img{
    display: flex;
} 
.footer__side-wrap{
 margin-left: 0;
}
}
@media screen and (min-width:321px)and (max-width:375px){
    .footer__links {
        display: flex;
        flex-wrap: wrap;
        gap: 0.2rem;
        margin-top: 1rem;
    }
    .footer__links a:nth-of-type(4),
    .footer__links img{
        display: flex;
    } 
    .footer__side-wrap{
     margin-left: 0;
    }
    }
    @media screen and (min-width:376px)and (max-width:414px){
        .footer__links {
            display: flex;
            flex-wrap: wrap;
            gap: 0.2rem;
            margin-top: 1rem;
        }
        .footer__links a:nth-of-type(4),
        .footer__links img{
            display: flex;
        } 
        .footer__side-wrap{
         margin-left: 0;
        }
        }    